.action-button {
	border-radius: 2px;
	padding: 8px 18px;
	background-color: #ff0000;
}

.action-button:hover {
    background-color: #bf0000;
}

table {
	width: 80%;
	margin: auto;
	border: 1px solid black;
	border-collapse: collapse;
}

th {
	background-color: black;
	color: white;
	padding: 8px 18px;
}

td {
	border: 1px solid black;
}

tr:nth-child(even) {
    background-color: #ddd;
}