.viewer-container {
	width: 50%;
	border: 0.75px solid #cccccc;
}

.viewer {
	height: 200px;
	overflow: auto;
}

.viewer-container .title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;
	border-bottom: 0.75px solid #cccccc;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: x-large;
}
