.input-container {
margin: 5px;
}

.input-label {

}


input {
	width: 100%;
	padding: 12px 20px;
	margin: 4px 0;
	box-sizing: border-box;
	border: 3px solid #ccc;
	border-radius: 5px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

input:focus {
	border: 3px solid #555;
}
